@bgDefault      : #e33a2b;
@bgHighlight    : #FFFFFF;
@colDefault     : #e33829;
@colHighlight   : #ffbbbc;
@bgItemHighlight: #c0392b;
@dropDown       : true;
.ddm() when (@dropDown) {
    > .dropdown-menu {
        background-color: @bgDefault;
        > li > a {
            color: @colDefault;
            &:hover,
            &:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }
        .divider {
            background-color: @bgHighlight;
        }
    }
}
.navbar-default {
    background-color: @bgDefault;
    border-color: @bgHighlight;
    .navbar-brand {
        color: @colDefault;
        padding: 2px 15px;
        &:hover,
        &:focus {
            color: @colHighlight;
        }
    }
    .navbar-text {
        color: @colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: @colDefault;
                &:hover,
                &:focus {
                    color: @bgHighlight;
                }
            }
            .ddm
        }
        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: @bgHighlight;
                background-color: @bgItemHighlight;
            }
        }
        > .open {
            > a,
            > a:hover,
            > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }
    }
    .navbar-toggle {
        background-color: @bgHighlight;
        &:hover,
        &:focus {
            background-color: @colHighlight;
        }
        .icon-bar {
            background-color: @bgDefault;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: @colDefault;
    }
    .navbar-link {
        color: @colDefault;
        &:hover {
            color: @colHighlight;
        }
    }
}
@media (max-width: 767px) {
    .navbar-default {
        .navbar-nav .open .dropdown-menu {
            > li > a {
                color: @colDefault;
                &:hover,
                &:focus {
                    color: @colHighlight;
                }
            }
            > .active {
                > a,
                > a:hover,
                > a:focus {
                    color: @colHighlight;
                    background-color: @bgHighlight;
                }
            }
        }
        .navbar-collapse {
            background-color: @colHighlight;
        }
    }

}